swagger: '2.0'
host: itraining.zhanzy.xyz
basePath: /api/v1
info:
  description: |
    这是我们的API设计文档
  version: 1.0.0
  title: iTraining
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
externalDocs:
  description: iTraining训练打卡小程序
  url: 'https://github.com/iTraining/document'
tags:
  - name: v1
    description: API v1
schemes:
- http
consumes:
- application/json
produces:
- application/json
paths:
  /sessionid:
    x-summary: Session Id
    get:
      tags:
        - v1
      summary: Get session_id
      parameters:
        - name: code
          in: query
          type: string
          required: true
          description: 小程序通过wx.login()获取的用户授权码
      responses:
        200:
          description: Get session_id successfully
          schema:
            $ref: '#/definitions/SessionId'
          examples:
            application/json:
              session_id: 'FDBDA3fb1D'
  /team:
    x-summary: Team operation
    post:
      tags:
        - v1
      summary: Create new team
      parameters:
        - in: header
          name: Cookie
          type: string
          required: true
          description: 用于获取session信息的sessionid
        - in: formData
          name: name
          type: string
          required: true
          description: 队名
        - in: formData
          name: bio
          type: string
          required: true
          description: 队伍介绍
      responses:
        201:
          description: Create team successfully
          schema:
            $ref: '#/definitions/Team'
          examples:
            application/json:
              name: '中大龙舟'
              bio: '更黑更快更强'
              date: '2018-05-21 20:19:15'
              leader_name: '赵云雷'
    get:
      tags:
        - v1
      summary: Get collection of user's team information
      parameters:
        - in: header
          name: Cookie
          type: string
          required: true
          description: 用于获取session信息的sessionid
        - in: query
          name: option
          type: string
          required: true
          description: 可选项 'all/created/joined'；'all' 获取全部队伍。'created' 获取创建队伍。'joined' 获取参加的队伍
      responses:
        201:
          description: Get collection of team info successfully
          schema:
            type: array
            items:
              $ref: '#/definitions/Team'
definitions:
  SessionId:
    title: Session id
    type: object
    properties:
      session_id:
        type: string
    required:
      - session_id
    example:
      session_id: 'FDBDA3fb1D'
  Team:
    title: Team
    type: object
    properties:
      name:
        type: string
      bio:
        type: string
      date:
        type: string
      leader_name:
        type: string
    required:
      - name
      - bio
      - date
      - leader_name
    example:
      name: '中大龙舟'
      bio: '更黑更快更强'
      date: '2018-05-21 20:19:15'
      leader_name: '赵云雷'